#card {
    padding: 3%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 2% 2% 2%;
    width: 95%;
    border-radius: 8px;
    height: 350px;
    justify-content: space-around;
    transition: box-shadow 0.3s ease;
    text-align: center;
}

#card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#card>p {
    background-color: #f4eded;
    padding: 1%;
    border-radius: 8px;
}

.author-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.author-img>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#card>button {
    height: 45px;
    /* width: 100%; */
    border: 1px solid #1eb2a6;
    /* background-color: #1eb2a6; */
    color: #1eb2a6;
    font-size: 18px;
    border-radius: 8px;
    transition: color 0.3s ease;
}
#xyz{
    color: black;
    background-color: yellow;
}
#card>button:hover{
    background-color: #1eb2a6;
    color: white;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    width: 80%;
    text-align: left;
}

.inn-card-det {
    display: flex;
    align-items: center;
    gap: 2%;
}

.img-logo {
    background-color: #1eb2a6;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo>span {
    color: white;
    font-size: 50px;
}