.college-category-card {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: color 0.3s ease;
    padding: 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    height: 200px;
}

.college-category-card>.colg-item {
    font-size: 50px;
    color: #1eb2a6;
}

.college-category-card>h1 {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.college-category-card:hover {
    color: white;
    background-color: #1eb2a6;
    cursor: pointer;
}

.college-category-card:hover>span {
    background-color: #1eb2a6;
    color: white;
}

#course-count {
    color: #1eb2a6;
    /* font-weight: bold; */
}

#course-count {
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 1.5%;
}

.college-category-card:hover>#course-count {
    color: #1eb2a6;
}