/* Navbar.css */
.navbar {
  position: relative;
  background-color: #1eb2a6;
  color: #ecf0f1;
  padding: 5px;
  /* border-bottom: 1px solid #1eb2a6; */
  width: 100%;
}
.mrqe{
  font-size: 18px;
  font-weight: bold;
}
.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #6e9dcc, transparent);
  z-index: -1;
}

.navbarContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
}

.company-logo {
  font-size: 24px;
  /* font-weight: bold; */
  width: 10%;
}
.companyLogo-img{
  width:100%;
}

.info {
  display: flex;
  align-items: center;
}

.contact,
.clock {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-right: 10px;
  gap: 5px; 
}

.contact svg,
.clock svg {
  font-size: 20px;
  /* margin-right: 5px;  */
}
.contact p,
.clock p {
  margin: 0; 
}
.navbarSocial-icons {
  display: flex;
  /* margin-left: 10px; */
}

.navSocial-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #ecf0f1;
}

.navSocial-icon:hover {
  color: #3498db;
}


/* ----------------- */
@media (max-width: 768px) {
  
  .navbarContainer {
    flex-direction: column;
    align-items: center;
  }

  .company-logo {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }


  .info {
    flex-direction: column;
    align-items: center;
  }

  .contact,
  .clock {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 10px;
    text-align: center; /* Center text within contact and clock */
  }
  .mrqe {
    width: 90%;
    font-size: 24px;
  }
  /* .social-icons {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 10%;
  } */
}


