/* @import 'tailwindcss/base'; 
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer utilities {
    .light-blue-transparent-bg {
      background-color: rgba(175, 210, 224, 0.7);
    }
  
    .white-text {
      color:black;
    }
  
    .teal-text {
      color:#1eb2a6;
    }
  } */