
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;
}
.testimonial{
    text-align: center;
}


.textColor{
    color: white;
}

#shbzupper{
    height:600px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center; 
    align-items: center;
    padding: 0%;
    background-image: url("https://uk.jobrapido.com/blog/wp-content/uploads/sites/3/2020/07/work-from-home.jpg");
    color: white;
    background-size: cover;
    background-attachment: fixed;
     
}

#heading-about-us{
    font-size: 75px;
    /* border: 1px solid green; */
    padding: 0%;
    margin: 0px;
    font-weight: 500;
}
#heading-upper{
    /* font-size: 60px; */
    /* border: 1px solid green; */
    margin: 0px;
}
#shbzmid{
    display: flex;
    height: auto;
    width: 100%;
    /* border: 2px solid green; */
}
#shbzleftmid{
    height: 650px;
    width: 45%;
    margin: 2%;
    /* border: 2px solid black; */
}
#leftmidimg{
    width: 90%;
    height: 100%;
}
#shbzrightmid{
    height: 650px;
    width: 45%;
    margin: 2%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    text-align: left;
 
}
#benefitsheading{
    margin-top: 0%;
    /* border: 2px solid red; */
    font-size: 40px;
}
.shbzicons{
    width: 180px;
    height: 100px;
    margin-top: 20%;
}
.rightmidcomp{
    display: flex;
    
}
.rightmidcomp:hover {
    background-color: #1eb2a6;
    color: white;
}

.shbzrightcontent{
    margin-left: 5%;
    margin-top: 5%; 
}
.shbzrightcontent p{
    font-size: 18px;
}

.shbzlast{
    display: flex;
    /* border: 2px solid green; */
    height: auto;
    width: 100%;
    background-color: #1eb2a6;
    color: white;
}
#lastleft{
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    width: 50%;
    /* border: 2px solid teal; */
    text-align: left;
   
}
#lastright{
    margin-top: 2%;
    margin-left: 8%;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 50%;
    /* border: 2px solid teal; */
    text-align: left;
}
#shbzemail{
    width: 50%;
    margin-top: 10%;
    border: none;
    background-color:#1eb2a6 ;
   text-decoration: underline;
   font-size: 18px;
   color: aliceblue;
}
#lastright input::placeholder {
    color: #ffffff; 
    margin-bottom: 2%;
}
.headingcolor{
    color: #1eb2a6;
    margin-bottom: 0%;
    font-weight: bold;
    /* font-size: 18px; */
}
.successfulstudents{
    font-weight: 520;
    font-size: 45px;
    margin-bottom: 0%;
    margin-top: 0%;
    
}

/* YourCarousel.css */
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }
  

  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 25%; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Add some margin between cards */
    /* border: 2px solid red; */
  }
  .speakerimage img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid green; */
    margin-bottom: 10px; /* Add some space between image and text */

  }
  

  .speakerinfo {
    margin-top: 10px;
  }
  
  .carouselcard{
    display: flex;
  }
  #temp{
    /* border: 2px solid rgb(7, 28, 7); */
    width: 100%;
    overflow: hidden;
  }
  .shbzheading2{
    font-weight: 700;
    font-size: 18px;
  }
  #newsletter{
    
        font-size: 2em; 
        font-weight: bold;   
  }
  #shbzlasth3{
    font-size: 1.4em;
  }
  .speaker-name{
    font-size: 1.6em; 
  font-weight: bold;
  }