.descHeader {
  display: flex;
  width: 100%;
}
.singleCourse {
  width: 90%;
  margin: auto;
  display: block;
  padding: 10px;
  text-align: left;
}
.singleCourseDesc {
  text-align: left;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
}
.descAuth {
  width: 25%;
  text-align: center;
}
.descAuth img {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.singleCourseAuthor {
  padding: 15px;
}
.singleCourseTitle {
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
}
.enrollButton,
.financialAidButton {
  /* background-color: #fcfcfd; */
  background-color: #1eb2a6;
  border-radius: 4px;
  border-width: 0;
  /* margin: 0 20px; */
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  transition: transform 0.15s;
  font-size: 18px;
}
.detailsCard p {
  margin: 0;
}
.financialAidButton {
  background-color: white;
  color: #1eb2a6;
  margin: 0 50px;
  border: 1px solid #1eb2a6;
}
.detailsCard {
  margin: 60px auto;
  display: flex;
  /* width: 90%; */
  border-radius: 5px;
  /* margin: auto; */
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.detailsCard p {
  display: flex;
  height: 125px;
  width: 33%;
  justify-content: center;
  align-items: center;
}
.singleCourseRating {
  flex-direction: column;
  justify-content: space-evenly;
}
.singleCourseRating p {
  height: fit-content;
}
.vertLine {
  height: 50px;
  width: 1px;
  border: 1px solid #e5e7e8;
}
.skill {
  background-color: #e5e7e8;
  width: fit-content;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
}
.providedBy {
  font-size: 30px;
  padding: 30px 0;
}
.descSkill {
  display: flex;
  padding: 20px 0;
}
.enrollButton:focus {
  box-shadow: #1eb2a6 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #1eb2a6 0 -3px 0 inset;
}

.enrollButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #1eb2a6 0 -3px 0 inset;
  scale: 1.01;
}
.financialAidButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, white 0 -3px 0 inset;
  scale: 1.01;
}

.enrollButton:active {
  box-shadow: #1eb2a6 0 3px 7px inset;
  scale: 1.01;
}
