#bg-img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/bg-2.png');
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#full-100vh {
    width: 75%;
    display: flex;
    align-items: center;
}

.div-content {
    text-align: left;
    height: fit-content;
    padding: 2% 2% 2% 0%;
    color: white;
}

.div-content>p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.div-c-desc {
    font-size: 20px;
}

.div-content>h1 {
    font-size: 45px;
    font-weight: 500;
}

.div-c-buttons>button:nth-child(1) {
    margin-right: 2%;
    background-color: #1eb2a6;
    color: white;
}

.div-c-buttons>button:nth-child(2) {
    background-color: white;
    color: #1eb2a6;
}

.div-c-buttons>button {
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    padding: 3%;
    cursor: pointer;
    font-size: 15px;
}

#learn-anything {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-learn-anything {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}

.inner-learn-anything>img {
    background: inherit;
    background-color: white;
    width: 30%;
}

#ben-details {
    text-align: left;
    width: 50%;
}

#ben-details>p {
    color: #1eb2a6;
    font-weight: bold;
    font-size: 20px;
}

#ben-details>h1 {
    font-size: 37px;
    font-weight: 500;
}

.ben-card-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
    transition: color 0.3s ease;
    margin-top: 2%;
    gap: 8%;
    border-radius: 8px;

    padding: 3% 2% 3% 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ben-card-item>span {
    font-size: 70px;
    color: #1eb2a6;
    transition: color 0.3s ease;
}

.ben-card-item:hover .gs {
    color: white;
    background-color: #1eb2a6;
}

.ben-card-item:hover {
    color: white;
    background-color: #1eb2a6;
}

.ben-card-text>p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2%;
}

.ben-counts {
    background-image: url("../../images/bg-counter-write.jpg");
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-counts {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.count-items {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    gap: 20px;
}

.count-items>div>p:nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}

.count-items>div {
    text-align: left;
}

.count-items>span {
    font-size: 70px;
    font-weight: 100;
}

/* Carousel stylings */
.carousel-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    /* border: 1px solid; */
}

.carousel-container>p {
    padding-top: 1%;
    color: #1eb2a6;
    font-weight: bold;
    font-size: 20px;
}

.carousel-container>h1 {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 1%;
}

.inn-carousel {
    width: 76%;
}

.inn-carousel>* {
    margin-left: 1.5%;
}

.course-category {
    margin: 4% 0% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-category>p {
    color: #1eb2a6;
    font-size: 20px;
    font-weight: bold;
}

.course-category>h1 {
    font-size: 45px;
    font-weight: 500;

}

.inn-course-category {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1.5%;
    column-gap: 1%;
    padding: 2%;
}

.testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.testimonials>p {
    color: #1eb2a6;
    font-size: 20px;
    font-weight: bold;
}

.testimonials>h1 {
    font-size: 45px;
    font-weight: 500;
}

.testimonials>.inn-testimonials {
    width: 75%;
}

.packages {
    display: flex;
    margin: 4% 0% 4% 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inn-packages {
    width: 75%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    height: 400px;
}

.package-list {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.package-list>p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.package-list>h1 {
    font-size: 50px;
    color: #1eb2a6;
    font-weight: bold;
    text-align: center;
}

.package-list>button {
    border: 1px solid #1eb2a6;
    border-radius: 5px;
    padding: 4%;
    color: #1eb2a6;
    font-weight: bold;
    transition: color 0.3s ease;
}

.package-list>button:hover {
    background-color: #1eb2a6;
    color: white;
}

.packages>p {
    color: #1eb2a6;
    font-size: 20px;
    font-weight: bold;
}

.packages>h1 {
    font-size: 45px;
    font-weight: 500;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1eb2a6;
    color: white;
}
.inn-subscribe{
    width: 60%;
    /* border: 1px solid; */
    height: 180px;
    /* background-color: #1eb2a6; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.inn-sub-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    width: 40%;
}
.inn-sub>h1{
    font-size: 30px;
    font-weight: bold;
}
.inn-sub>p{
    font-size: 21px;
}
.inn-sub-inputs>input{
    width: 80%;
    height: 35px;
    border: none;
    border-style: hidden;
    border-radius: 5px;
    padding-left: 2%;
}
.inn-sub-inputs>input:hover{
    border: none;
    border-bottom: red;
}
.inn-sub-inputs>span{
    font-size: 40px;
    transition: transform 0.3s ease;
}
.inn-sub-inputs>span:hover{
    transform: translate(3px);
    cursor: pointer;
}
#home-input::placeholder{
    color: black;
}