.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inn-user-profile {
    width: 75%;
    display: flex;
}

.profile-edit-card>img {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-edit-card>h1 {
    font-size: 28px;
}

.profile-edit-card>* {
    text-align: center;
}

.profile-left>p {
    text-align: right;
}

.prof-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 2%;
    padding: 3%;
}

.user-profile {
    border: 1px solid;
}

.course-each {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.course-each-card {
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 3%;
}

.inn-user-profile {
    border: 1px solid;
}

.profile-left {
    border: 1px solid;
    padding: 2%;
    width: 30%;
}

.profile-right {
    border: 1px solid;
    padding: 2%;
    width: 70%;
}

.edit-text {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
}

.edit-text>p:nth-child(1) {
    font-size: 20px;
}

.role-prof {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.role-prof>p {
    font-size: 18px;
}

p {
    /* border: 1px solid; */
    text-align: left;
}

h1 {
    text-align: left;
    font-size: 35px;
}