.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inn-user-profile {
    width: 75%;
    display: flex;
    margin: 3%;
}

.profile-edit-card>img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-edit-card>h1 {
    /* font-size: 28px; */
}

.profile-edit-card>* {
    text-align: center;
}

.profile-left>p {
    text-align: right;
}

* {
    margin: 0%;
    padding: 0%;
}

.prof-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 2%;
    padding: 3%;
}

.user-profile {

    /* margin: 3%; */
}

.course-each {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}

.course-each-card {
    /* border: 1px solid yellow; */
    background-color: #1eb2a6;
    color: white;
    border-radius: 5px;
    padding: 3%;
}

.profile-left {

    padding: 2%;
    width: 30%;
}

.profile-right {

    padding: 2%;
    width: 70%;
}

.edit-text {
    display: flex;
    justify-content: space-between;
}

.pro-bar {
    width: 100%;
    background-color: black;
}

.pro-bar-clr {
    border: 1px solid gold;
}

.edit-text>p:nth-child(1) {
    font-size: 20px;
}

.edit-text>p:nth-child(2) {
    cursor: pointer;
}

.role-prof {
    display: flex;
    align-items: center;
}

.role-prof>p {
    font-size: 18px;
}